*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    text-align: center;
    font: inherit;
}

.h1 {
    padding: 1.5em;
}

.content {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;
    width: min(95%, 20rem);
    padding: 0.5rem;
    background-color: #999999; // to be changed later
}

.col-span-2 {
    grid-column: span 2;
}

.input-display {
    height: 1.5ch;
    font-size: 1.5ch;
    color: #70757a;
    padding-bottom: 1.5em;
}

.btn:hover:not(#display) {
    cursor: pointer;
}

#display {
    grid-column: span 4;
    text-align: right;
    background-color: #FFFFFF;
}

#display > * {
    text-align: inherit;
}


