*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    text-align: center;
    padding: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;
    width: min(95%, 20rem);
    padding: 0.5rem;
    background-color: #999999; // to be changed later
}

.col-span-2 {
    grid-column: span 2;
}

.btn:hover:not(#display) {
    cursor: pointer;
}

#display {
    grid-column: span 4;
    text-align: right;
    background-color: white;
}
